/* HTML 文章列表样式 */
/* 概述之下的内容content */
.content {
	display: block;
	width: 1200px;
	height: 530px;
	margin: 5px auto;
}

/* tab */
.tabs {
	float: left;
	display: block;
	width: 100%;
	height: 100%;
}

#tabmenu {
	float: left;
	display: block;
	padding: 0px;
	margin-bottom: 0px;
	height: 30px;
	text-align: left;
	font-size: 0px;
}

#tabmenu li {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	margin: 0px;
	min-width: 70px;
	height: 100%;
	border-style: solid;
	background-color: rgb(251, 251, 251);
	border-width: 1px 1px 1px 0;
	border-color: rgb(226, 226, 226);
	overflow: hidden;
}

#tabmenu li:first-child {
	border-left-width: 1px;
}

#tabmenu li.act,
#tabmenu li.act:hover
{
	background-color: white;
}

#tabmenu li:hover {
	background-color: rgb(200, 200, 200);
}

#tabmenu li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	border-bottom: 3px solid black;
}

#tabcontent {
	float: left;
	display: block;
	text-align: left;
	padding: 0px;
	width: 100%;
	height: 500px;
}

#tabcontent ul {
	margin: 0px;
	padding: 0px;
	display: none;
}

#tabcontent ul li {
	display: block;
	height: 30px;
	margin: 10px 0;
}

#tabcontent ul li a {
	display: block;
	font-size: 16px;
	width: 100%;
	height: 100%;
	line-height: 30px;
	margin: 5px 0;
	text-indent: 5px;
}

#tabcontent ul li a:hover {
	color: blue;
	background-color: rgb(250, 250, 250);
}

#tabcontent ul li p {
	margin: 0px;
	padding: 0px 5px;
	float: right;
	display: inline-block;
}